        <tr>
            <td>{{country}}</td>
            <td class="d-none d-xl-table-cell">{{countryCode}}</td>
            <td class="d-none d-xl-table-cell">{{region}}</td>
            <td>{{regionName}}</td>
            <td class="d-none d-md-table-cell">{{city}}</td>
            <td class="d-none d-md-table-cell">{{zip}}</td>
            <td class="d-none d-md-table-cell">{{lat}}</td>
            <td class="d-none d-md-table-cell">{{lon}}</td>
            <td class="d-none d-md-table-cell">{{timezone}}</td>
            <td class="d-none d-md-table-cell">{{isp}}</td>
            <td class="d-none d-md-table-cell">{{org}}</td>
            <td class="d-none d-md-table-cell">{{as}}</td>
            <td class="d-none d-md-table-cell">{{query}}</td>
        </tr>